@* Copyright (C) 2020 - 2022 APC Inc. *@
<div class="row mt-5">
    <div class="col-4 table-responsive">
        <h5>Documents</h5>
        <table class="table table-striped table-sm">
            <tr>
                <td class="col-3">
                    Getting Started
                </td>
                <td class="col-1">
                    <a href="/download/manual/evangelist/Chimera_AI_Evangelist_Getting_Started.pdf" target="_blank" download>≫Download</a>
                </td>
            </tr>
            <tr>
                <td class="col-3">
                    User's Guide
                </td>
                <td class="col-1">
                    <a href="/download/manual/evangelist/Chimera_AI_Evangelist_Users_Guide.pdf" target="_blank" download>≫Download</a>
                </td>
            </tr>
            <tr>
                <td class="col-3">
                    Pretrained Guide
                </td>
                <td class="col-1">
                    <a href="/download/manual/evangelist/Chimera_AI_Evangelist_Pretrained_Guide.pdf" target="_blank" download>≫Download</a>
                </td>
            </tr>
        </table>
    </dvi>
</dvi>